<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>KadekBot</title>
</head>
<body>
<!--Web-->

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="css/all.css">
   <link rel="stylesheet" href="style.css">

   <title>KadekBot</title>
</head>

<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
         <a class="navbar-brand mr-5 font-weight-bold" href="#">KadekBot</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
               <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="#Program">Program</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="Keuntungan">Keuntungan</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="#contact">Kontak</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="#jumbotron">Tanya Kadek</a>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </nav>


   <!-- Jumbotron -->
   <div class="jumbotron text-light text-center mb-5">
      <h1 class="display-4 font-weight-bold">SISTEM REKOMENDASI KAMPUS MERDEKA</h1>
      <p class="lead font-weight-normal mb-3">Kampus Merdeka adalah cara terbaik berkuliah. Dapatkan kemerdekaan untuk membentuk masa depan yang sesuai dengan aspirasi kariermu</p>
      
   </div>
   <!-- End Jumbotron -->

   <!-- Program -->
   <section class="Program mb-5" id="Program">
      <div class="container">
         <div class="row align-items-center justify-content-between m-auto">

            <!-- Description -->
            <div class="col-md-4 mb-4">
               <h3>APA ITU KAMPUS MERDEKA?</h3>
               <p>Kampus Merdeka merupakan bagian dari kebijakan Merdeka Belajar oleh Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi Republik Indonesia yang memberikan kesempaatan bagi mahasiswa/i untuk mengasah kemampuan sesuai bakat dan minat dengan terjun langsung ke dunia kerja sebagai persiapan karier masa depan.</p>
               <a class="btn btn-danger btn-lg" href="https://kampusmerdeka.kemdikbud.go.id/web/about/" role="button">Lanjut</a>
            </div>

            <!-- Card -->
            <div class="card-columns col-md-8">
               <div class="card row text-center">
                  <img src="static/images/mengajar.png" class="card-img-top mt-2">
                  <div class="card-body">

                     <h5 class="card-title">KAMPUS MENGAJAR</h5>
                     <p class="card-text">Mahasiswa bisa membaktikan ilmu, keterampilan, serta menginspirasi para murid sekolah dasar dan menengah tersebut untuk memperluas cita-cita dan wawasan mereka.
                     </p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/pertukaran.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">IISMA</h5>
                     <p class="card-text">Beasiswa Pemerintah Republik Indonesia untuk mendanai 
                        mahasiswa Indonesia untuk program mobilitas di universitas 
                        terkemuka di luar negeri.</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/independen.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">STUDI INDEPENDEN</h5>
                     <p class="card-text">Memberikan kesempatan 
                        kepada mahasiswa untuk belajar dan mengembangkan diri melalui 
                        aktivitas di luar kelas perkuliahan, namun tetap diakui sebagai 
                        bagian dari perkuliahan.</p>
                  </div>
               </div>

               <div class="card text-center">
                  <img src="static/images/rafting.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">PERTUKARAN MAHASISWA</h5>
                     <p class="card-text">Memfasilitasi mahasiswa untuk melakukan pertukaran pelajar 
                        pada Perguruan Tinggi (PT) di Indonesia</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/climbing.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">MAGANG MERDEKA</h5>
                     <p class="card-text"> Mewadahi mahasiswa untuk berinteraksi langsung dengan dunia kerja profesional selama satu hingga tiga semester.</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/pejuang.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">PEJUANG MUDA</h5>
                     <p class="card-text">Laboratorium sosial bagi para mahasiswa mengaplikasikan ilmu dan pengetahuannya untuk memberi dampak sosial secara konkret.</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/meditation.png" class="card-img-top mt-2">
                  <div class="card-body">
                     <h5 class="card-title">PMMB BUMN</h5>
                     <p class="card-text">Memberi kesempatan kepada mahasiswa untuk menyalurkan potensi dan menggali pengalaman di BUMN.</p>
                  </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Program -->


   <!-- Keuntungan -->
   <section class="Keuntungan" id="Keuntungan">
      <div class="container">
         <div class="row align-items-center justify-content-between m-auto">

            <!-- Description -->
            <div class="col-md-4 mb-4">
               <h3>Kenapa kamu harus mengikuti program-program Kampus Merdeka?</h3>
               <p>Banyak hal yang bisa kamu dapatkan dengan mengikuti Kampus Merdeka</p>
               <a class="btn btn-danger btn-lg" href="https://kampusmerdeka.kemdikbud.go.id/program" role="button">Lanjut</a>
            </div>

            <!-- Card -->
            <div id="carouselExampleCaptions" class="carousel slide col-md-8" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="static/images/lulus.png" class="d-block w-100">
                     <div class="carousel-caption d-none d-md-block">
                        <h5>Konversi SKS</h5>
                        <p>Kegiatan praktik di lapangan akan dikonversi menjadi SKS</p>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img src="static/images/implementasi.png" class="d-block w-100">
                     <div class="carousel-caption d-none d-md-block">
                        <h5>Implementasi Ilmu Perkuliahan</h5>
                        <p>Eksplorasi pengetahuan dan kemampuan di lapangan selama lebih dari satu semester</p>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img src="static/images/perluasanilmu.png" class="d-block w-100">
                     <div class="carousel-caption d-none d-md-block">
                        <h5>Perluasan Ilmu</h5>
                        <p>Menimba ilmu secara langsung dari mitra berkualitas dan terkemuka</p>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img src="static/images/luas.png" class="d-block w-100">
                     <div class="carousel-caption d-none d-md-block">
                        <h5>Memperluas Jaringan</h5>
                        <p>Belajar dan memperluas jaringan di luar program studi atau kampus asal</p>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </section>
   <!-- End Keuntungan -->

   <!-- Feedback -->
   <section class="feedback pt-2 mt-5">
      <div class="container">
         <div class="row align-items-center justify-content-between m-auto">
            <!-- Description -->
            <div class="col-md-4 mb-4">
               <h3>Tentang Kami</h3>
               <p>Kami sekumpulan mahasiswa yang dipertemukan oleh Kampus Merdeka</p>
               <a class="btn btn-danger btn-lg" href="#" role="button">Lanjut</a>
            </div>


            <!-- Feedback -->
            <div class="card-columns col-md-8">
               <div class="card text-center">
                  <img src="static/images/mahmud.png" class="card-img-top mt-3 rounded-circle">
                  <div class="card-body">
                     <h5 class="card-title">Mahmud Wahyudi</h5>
                     <p class="card-text">Universitas Sebelas Maret Surakarta</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/dea.png" class="card-img-top mt-3 rounded-circle">
                  <div class="card-body">
                     <h5 class="card-title">Dea Rishanti</h5>
                     <p class="card-text">Telkom University</p>
                  </div>
               </div>
               <div class="card text-center">
                  <img src="static/images/mahya.png" class="card-img-top mt-3 rounded-circle">
                  <div class="card-body">
                     <h5 class="card-title">Fitri Nurmahya</h5>
                     <p class="card-text">Universitas Negeri Semarang</p>
                  </div>
               </div>

               <div class="card text-center">
                  <img src="static/images/Rectangle 1.jpg" class="card-img-top mt-3 rounded-circle">
                  <div class="card-body">
                     <h5 class="card-title">Dinda</h5>
                     <p class="card-text">Saya mahasiswa?</p>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Feedback -->


   <!-- Details -->
   <section class="details mt-5">
      <div class="container">
         <div class="row text-center m-auto">
            <!-- Desc -->
            <h3 class="col-md-12 text-white text-center mb-0">Informasi Lebih Lanjut</h3>
            <p class="col-md-12 text-center">Ini adalah ringkasan dari website Kampus Merdeka, lebih lanjut dapat kunjungi link berikut:
            </p>

            <!-- Info -->
            <div class="info row col-12 justify-content-center">

               <div class="left row col-sm-6 offset-sm-0 offset-1 justify-content-center">
                  <div class="row col-12 offset-lg-4 justify-content-center">
                     <a href="https://kampusmerdeka.kemdikbud.go.id/"><i class="icon map fas fa-map"></i></a>
                     <div class="col-lg-6 col-sm-10 col-10">
                        <h4 class="text-left">Kampus Merdeka</h4>
                        <p class="text-left">https://kampusmerdeka.kemdikbud.go.id/</p>
                     </div>
                  </div>
                  <div class="row col-12 offset-lg-4 justify-content-center">
                     <a href="https://pejuangmuda.kemensos.go.id/"><i class="icon map fas fa-map-marker-alt"></i></a>
                     <div class="col-lg-6 col-sm-10 col-10">
                        <h4 class="text-left">Pejuang Muda</h4>
                        <p class="text-left">https://pejuangmuda.kemensos.go.id/</p>
                     </div>
                  </div>
               </div>

               <div class="left row col-sm-6 offset-sm-0 offset-1 justify-content-center">
                  <div class="row col-12 offset-md-4 offset-lg-0 justify-content-center">
                     <a href="https://www.esdm.go.id/id/page/gerilya"><i class="icon map fas fa-building"></i></a>
                     <div class="col-xl-7 col-lg-6 col-sm-10 col-10">
                        <h4 class="text-left">Gerilya ESDM</h4>
                        <p class="text-left">https://www.esdm.go.id/</p>
                     </div>
                  </div>
                  <div class="row col-12 offset-md-4 offset-lg-0 justify-content-center">
                     <a href="https://www.esdm.go.id/id/page/gerilya"><i class="icon star fas fa-star"></i></a>
                     <div class="col-xl-7 col-lg-6 col-sm-10 col-10">
                        <h4 class="text-left">Wirausaha Merdeka</h4>
                        <p class="text-left">https://wirausahamerdeka.id/</p>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>
   <!-- End Details -->


   <!-- Socmed -->
   <section class="socmed mt-5">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-1 ml-1 mr-1">
               <a href="https://facebook.com/"><i class="icon facebook fab fa-facebook"></i></a>
            </div>
            <div class="col-1 ml-1 mr-1">
               <a href="https://instagram.com/"><i class="icon instagram fab fa-instagram"></i></a>
            </div>
            <div class="col-1 ml-1 mr-1">
               <a href="https://twitter.com/"><i class="icon twitter fab fa-twitter"></i></a>
            </div>
            <div class="col-1 ml-1 mr-1">
               <a href="https://youtube.com/"><i class="icon youtube fab fa-youtube"></i></a>
            </div>
            <div class="col-1 ml-1 mr-1">
               <a href="https://line.com/"><i class="icon line fab fa-line"></i></a>
            </div>
            <div class="col-1 ml-1 mr-1">
               <a href="https://whatsapp.com/"><i class="icon whatsapp fab fa-whatsapp"></i></a>
            </div>
         </div>
      </div>
   </section>
   <!-- End Socmed -->



   <!-- Contact -->
   <section class="contact" id="contact">
      <div class="container">
         <div class="row">
            <!-- Company -->
            <div class="row col-md-4 offset-md-2 align-items-center align-content-center mb-4">
               <h4 class="col-md-12 font-weight-bold">KadekBot</h4>
               <h6 class="col-md-12">Be Yourself and Never Surrender</h6>
            </div>

            <!-- Contact -->
            <div class="row col-md-6 justify-content-center">
               <h5 class="col-12 mb-2 font-weight-bold">Contact Us</h5>
               <h6 class="col-md-12">Telp: +62 89123456789</h6>
               <h6 class="col-md-12">Email: KadekBot@gamil.com</h6>
            </div>
         </div>
   </section>
   <!-- End Contact -->


   <!-- Footer -->

   <section class="footer p-2">
      <div class="container">
         <div class="row">
            <h6 class="col-md-12 text-center mb-0">&copy; Copyright 2022</h6>
            <p class="col-md-12 text-center text-decoration-none mb-0">Built By <a
                  href="http://instagram.com/" target="_blank">Kelompok 1</a></p>
         </div>
      </div>
   </section>
   <!-- End Footer -->

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
   </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
   </script>
</body>

<!--End Of Web-->

<!--ChatBot-->
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">KadekBot</h4>
                    <p class="chatbox__description--header">Hi. Aku Kadek, ada yang bisa aku bantu?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Tulis pesan...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icons.png') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>