<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KadekBot</title>
        <link rel="shortcut icon" href="static/images/camping.png" type="image/x-icon">

        <div class="row justify-content-center">
                <div class="content-section">
                    <p>Setiap program pembelajaran bagi siswa, tak afdol rasanya jika tidak mengetahui tentang seluk beluk di dalamnya. Seperti halnya merdeka belajar ini. Merdeka Belajar merupakan salah satu program yang dibentuk oleh pemerintah untuk menciptakan sistem pendidikan yang lebih baik.</p>
<p>Namanya suatu program, pastinya punya kelebihan dan kekurangan tersendiri dalam proses penerapannya. Nah, untuk mengetahui lebih jelas mengenai program ini, yuk kita bahas secara tuntas pada ulasan di bawah ini.</p>
<h2><strong>Kelebihan Merdeka Belajar Kampus Merdeka</strong></h2>
<h3>1. Menjadikan dunia perkuliahan lebih fleksibel</h3>
<p>Untuk menciptakan pendidikan yang lebih fleksibel dan lebih baik, Menteri Pendidikan Indonesia Nadhiem Makarim mengungkapkan bahwa tujuan utama dari program merdeka belajar adalah melepas belenggu kampus agar lebih mudah bergerak. Sehingga para mahasiswa bisa belajar lebih dalam mengetahui peranya sebagai mahasiswa dengan baik.</p>
<h3><strong>2. Memberikan kesempatan mahasiswa untuk mendalami studi yang diambil</strong></h3>
<p>Dalam proses penerapan merdeka belajar, mahasiswa diajarkan untuk lebih mendalami mata kuliah pada studi yang diambil. Seperti halnya melakukan penelitian dan research secara mendalam pada mata pelajaran yang diampu. Hal ini tentunya berkaitan dengan Tri Dharma Perguruan Tinggi, khususnya dalam penelitian dan pengembangan.</p>
<p>Apabila mahasiswa mampu mendalami studi yang diambil, pasti akan membawa hawa segar bagi perguruan tinggi dan tentunya bagi mahasiswa itu sendiri. Selain ilmu yang sudah didapat, pengalaman pun juga akan membuat mereka lebih maju dan memiliki pemikiran yang luas.</p>
<h3><strong>3. Memberikan wadah kepada mahasiswa untuk terjun ke masyarakat</strong></h3>
<p>Kesempatan emas pada program ini bisa didapatkan melalui program pengabdian kepada masyarakat. Kesempatan ini dinilai mampu mewadahi mahasiswa untuk lebih berkompeten dan terjun langsung ke lingkungan masyarakat.</p>
<p>Tak hanya itu, mahasiswa nantinya akan memberikan pelayanan dan pengabdian kepada masyarakat sekitar. Sehingga mahasiswa yang terjun langsung di masyarakat ini akan mampu dan siap menerapkan diri di lingkungan masyarakat.</p>
<h3><strong>4. Bisa mempersiapkan diri untuk terjun di dunia kerja</strong></h3>
<p>Program merdeka belajar memang sangat cocok dan pantas untuk mempersiapkan para mahasiswa ke dunia kerja. Mahasiswa diharapkan akan menyesuaikan diri mereka di lingkungan luar kampus, seperti halnya di dunia kerja. Kegiatan tersebut bisa dilakukan melalui program PKL atau magang secara berkala.</p>
<h2><strong>Kekurangan Merdeka Belajar Kampus Merdeka</strong></h2>
<h3>1. Dinilai belum begitu matang dalam persiapan</h3>
<p>Bukan menjadi suatu rahasia lagi, bila program pendidikan selalu berubah-ubah sesuai dengan menteri yang sedang menjabat. Maka dari itu, program merdeka belajar ini dikhawatirkan akan berganti lagi bila menteri yang menjabat akan berganti.</p>
<p>Selain itu, program merdeka belajar ini juga masih seumur jagung. Usai dicetuskan oleh Menteri Pendidikan Indonesia, merdeka belajar masih perlu dilakukan pembaruan dan research yang lebih dalam menerapkannya.</p>
<h3><strong>2. Pendidikan dan pengajaran yang belum terencana dengan baik</strong></h3>
<p>Diulas dalam ideapers.com, prosedur pelaksanaan pendidikan dan pengajaran dalam merdeka belajar belum mengulas tentang upaya peningkatan kualitas pendidikan yang dinilai cukup problematik.</p>
<p>Sementara dalam Undang-undang Nomor 12 tahun 2012, pendidikan di Indonesia sendiri sedang berupaya meningkatkan sistem pembelajaran untuk mewujudkan suasana belajar bagi para peserta didik agar lebih aktif dalam meningkatkan kemampuannya di segala bidang. Mulai dari kepribadian, softskill, ketrampilan, hingga bela Negara.</p>
<p>Sehingga bisa dikatakan bahwa program merdeka belajar belum mengarah kepada sistem pendidikan dan pengajaran yang terencana dengan baik.</p>
<h3><strong>3. Persiapan SDM yang belum terstruktur</strong></h3>
<p>Program baru dalam dunia pendidikan tentunya membutuhkan sistem yang terstruktur dan sistematis. Namun, program merdeka belajar ini dinilai masih sangat baru dan belum cukup kuat untuk menyiapkan SDM sebagai pelaksana dalam program ini.</p>
<p>Seperti yang kita tahu, mencanangkan suatu program baru, pasti memerlukan sosialisasi dan persiapan yang cukup matang untuk para eksekutor di program merdeka belajar ini. Maka, bisa dipastikan bahwa program merdeka belajar masih perlu menyiapkan para tenaga ahli dan sosialisasi yang matang agar bisa berjalan dengan baik.</p>

</div>
